@import "../../App.scss";

.no-movie {
    color: var(--white-theme);
    font-size: 28px;
    text-align: center;
    padding-top: 40px;
}

.movie-poster img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.movie-title {
    margin: 0;
    @include text-limit1;
    color: var(--white);
    font-size: 16px;
    width: 80%;
}

.movie-card {
    display: block;
    overflow: hidden;
    position: relative;

    a {
        text-decoration: none;
    }
}

.movie-content {
    position: absolute;
    bottom: -20%;
    width: 100%;
    padding: 16px 12px 16px 16px;
    background-color: var(--secondary-bg);
    visibility: hidden;
    transition: var(--transition);
}

.movie-card:hover .movie-content {
    bottom: 0;
    visibility: visible;
}

.movie-vote_average {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: yellow;
    width: 18%;
    margin-left: 12px;

    svg {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
}

.single-movie-section {
    padding: 40px 0 60px;
     .single-movie-content{
        padding-bottom: 30px;
        padding-right: 16px;
     }
    .single-movie-content>* {
        color: var(--white);
    }
    .single-movie-content span{
        color: rgba(255, 255, 255, 0.607);
    }
}

.movie-poster,
.single-movie-poster {
    position: relative;
}

.single-movie {
    max-width: 900px;
    margin: auto;

    .single-movie-poster {
        height: 400px;
    }

    img {
        @include responsive-img
    }
}

.single-movie-content {
    padding-left: 16px;
}

.favorite-btn {
    background-color: var(--primary);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;

    svg {
        color: white;
    }

    pointer-events: visible;
}

.favorite-btn.filled {
    background-color: var(--white);

    svg {
        color: red;
    }
}

.watch-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    span{
        margin-left: 4px;
    }
}
.single-movie{
    background-color: var(--single-movie);
   }
   .single-movie-content >*{
    margin-bottom: 14px;
   }
