@import "../../App.scss";
@media(max-width:767px) {
   .menu-btn{
    display: block;
    @include btn-unstyled
   }
   .menu-list{
    display: none;
   }
   .mode-btn{
    display: none;
   }
   .sidebar-inner{
    position: fixed;
    padding: 32px 16px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: var(--sidebar);
    z-index: 999;
    transform: translateX(100%);
    transition: var(--transition);
    visibility: hidden;
}
.sidebar-inner.active{
    transform: translateX(0);
    visibility: visible;
}
.mobile-sidebar{
    display: block;
}
.mobile-sidebar.active{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.menu-list.mobile{
    display: block;
    margin-top: 24px;
    margin-bottom: 29px;
    li{
        display: block;
        margin-left: 0;
        margin-bottom: 12px;
    }
}
.sidebar-header{
   @include flex-center;
   justify-content:space-between
}
}

@media (max-width: 660px) {
   
}

@media (max-width: 600px) {
   
}

@media (max-width: 480px) {
  
}

@media (max-width: 400px) {
   
}